.footer{

  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.7em; 
  color: #8d6051;
  background-color: #ffffffc0;
  box-shadow: inset 1px 1px 5px #000000;

  .upper_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
      font-weight: 500;
      font-size: 1.4em;
      letter-spacing: -0.7px;
    }


    .media-section{
      display: flex;
      gap: 0.8em;

      .linkdin-icon{
        font-size: 2em;
        color: #0077B5;
        box-shadow: 1px 3px 4px #00000077;
        background-color: transparent;
        border-radius: 5px;
      }

      .x-icon{
        font-size: 2em;
        color: #1DA1F2;
        box-shadow: 1px 3px 4px #00000077;
        border-radius: 5px;


      }
    }


  }


  .lower_footer{

    p{

      .heart-icon{
        color: #ff0000;
        font-size: 1.1em;
      }
    }
  }
}